/* Container for the entire page */
.pageContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
  }
  
  /* NavBar at the top */
  .navBar {
    width: 100%;
    height: 50px; /* Adjust height as needed */
    background-color: #bbab86; /* Matches your design */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  /* Main content container, holding sidebar and product grid */
  .mainContainer {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding-top: 50px; /* Ensure content is below the fixed NavBar */
  }
  
  /* Sidebar styles */
  .leftSideContainer {
    width: 200px; /* Matches the width of your sidebar */
    position: relative;
    flex-shrink: 0;
  }
  
  /* Add space between the sidebar and the product grid */
  .rightSideContainer {
    flex-grow: 1;
    padding: 20px 20px 20px 30px; /* Add space on the left between the sidebar and products */
    overflow-y: auto;
    margin-left: 50px;
  }

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin-bottom: 40px;
}

.noAddress, .addressGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.addButton {
    cursor: pointer;
    text-align: center;
}

.addCard {
    width: 18rem;
    height: 15rem;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.addIcon {
    font-size: 2.5rem;
    color: #007bff;
}

.card {
    width: 18rem;
    border: 1px solid #ccc;
    padding: 20px;
}

.cardBody {
    text-align: left;
}

.buttons {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 768px) {
    .addCard, .card {
        width: 100%;
    }
}
