.sidebar {
    height: 100vh; /* Full height */
    width: 250px; /* Fixed width */
    background-color: #bbab86; /* Matches the NavBar */
    position: fixed;
    top: 45px; 
    left: 0;
    transition: width 0.3s ease-in-out;
  }
  
  .sidebar1 {
    width: 250px;
    background-color: none;
  }

  /* Default styles for sidebar content */
  .menuBar {
    width: 250px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #faeed1;
  }
  
  .subMenu {
    width: 200px;
    color: black;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 5px;
    text-align: left;
    background-color: #ded0b6;
  }
  
  .submenuItem {
    width: 200px;
    color: black;
    margin: 0 0;
    background-color: #ded0b6;
  }
  
  .menuItem {
    width: 200px;
    color: black;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 5px;
    text-align: left;
    background-color: #ded0b6;
  }

  .couponCard {
    display: flex;
    flex-direction: row;
    align-items: left;
    padding: 16px;
    border: 1px solid #ddd;
    width: 90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 25px;
    gap : 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .couponName {
    font-weight: bold;
    margin-bottom: 10px;
  }

.couponDetails {
    font-size: 18px;
    font-weight: bold;
    /* margin-top: 10px; */
}
  
  /* Adjustments for screens below 768px */
  @media (max-width: 768px) {
    .sidebar {
      width: 170px; /* Narrower on smaller screens */
    }

    .sidebar1 {
      width: 170px;
      background-color: none;
    }
  
    .menuBar {
      font-size: 1rem;
      width: 170px;
      padding: 0.8rem;
    }
  
    .menuItem, .submenuItem {
      font-size: 1rem;
      padding: 0.2rem; /* Less padding for smaller viewports */
    }
  }
  
  /* Adjustments for screens below 480px (mobile) */
  @media (max-width: 480px) {
    .sidebar {
      width: 100px; /* Even narrower on mobile */
    }
  
    .menuBar {
      font-size: 0.6rem;
      width: 100px;
      padding: 0.45rem;
    }
  
    .menuItem, .submenuItem {
      font-size: 0.6rem;
      padding: .1rem;
    }
  
    .subMenu {
      display: none; /* Submenu hidden on smaller screens */
    }
  }