/* Container for the entire page */
.pageContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

/* NavBar at the top */
.navBar {
  width: 100%;
  height: 50px; /* Adjust height as needed */
  background-color: #bbab86; /* Matches your design */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

/* Main content container, holding sidebar and product grid */
.mainContainer {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  padding-top: 50px; /* Ensure content is below the fixed NavBar */
}

/* Sidebar styles */
.leftSideContainer {
  width: 200px; /* Matches the width of your sidebar */
  position: relative;
  flex-shrink: 0;
}

/* Add space between the sidebar and the product grid */
.rightSideContainer {
  flex-grow: 1;
  padding: 20px 20px 20px 30px; /* Add space on the left between the sidebar and products */
  overflow-y: auto;
  margin-left: 50px;
}

.head {
    /* display: flex; */
    align-items: center;
    text-align: center;
}

.account-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    width: 50%;
  }
  
  .card-body {
    text-align: center;
  }

  .contentCenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contentCenter p {
    color: black;
  }